#nasa h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

#nasa p {
    font-family: 'Kanit', sans-serif;
}

#logo {
    width: 33%;
    height: auto;
    float: left; 
    max-width: 180px;
    padding: 20px;
    padding-top: 25px;
}