body {
    margin: 37px;
}

#nasa h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    margin-top: 41px;
    padding: 50px;
}

#nasa p {
    font-family: 'Kanit', sans-serif;
    margin-top: 120px;
    margin-bottom: 1rem;
    position: relative;
    
}

#logo {
    width: 33%;
    height: auto;
    float: left; 
    max-width: 180px;
    padding: 20px;
    padding-top: 25px;
}
